



<div class="Main">

    <table width="1600" border="0" cellspacing="0" cellpadding="5">
        <tbody>
            <tr>
                <!-- START MAIN SECTION -->
                <td class="maintablesection" width="1265" align="justify">
                    <h1 class="MainHeading">Compare Tanks</h1>
                    <p>
                        Compare up to 3 tanks.
                    </p>
                    <div id="">
                        <table width="1265" border="1" cellspacing="0" cellpadding="5">
                            <tbody>

                                <tr>
                                    <td colspan="2" align="left">
                                        <b>Country</b>
                                    </td>
                                    <td align="center">
                                        <select name="" id="" style="color:Black;width:90%;">
                                            <option value="">All Countries</option>
                                        </select>
                                    </td>
                                    <td align="center">
                                        <select name="" id="" style="color:Black;width:90%;">
                                            <option value="">All Countries</option>
                                        </select>
                                    </td>
                                    <td align="center">
                                        <select name="" id="" style="color:Black;width:90%;">
                                            <option value="">All Countries</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <b>Class</b>
                                    </td>
                                    <td align="center">
                                        <select name="" style="color:Black;width:90%;">
                                        </select>
                                    </td>
                                    <td align="center">
                                        <select name="" style="color:Black;width:90%;">
                                        </select>
                                    </td>
                                    <td align="center">
                                        <select name="" style="color:Black;width:90%;">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <b>Tank</b>
                                    </td>
                                    <td width="300" align="center">
                                        <select name="" style="color:Black;width:90%;">
                                        </select>
                                    </td>
                                    <td width="300" align="center">
                                        <select name="" style="color:Black;width:90%;">
                                        </select>
                                    </td>
                                    <td width="300" align="center">
                                        <select name="" style="color:Black;width:90%;">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <b>Tank Image</b>
                                    </td>
                                    <td width="300" align="center">
                                    </td>
                                    <td width="300" align="center">
                                    </td>
                                    <td width="300" align="center">
                                    </td>
                                </tr>

                                <tr>
                                    <td height="20" colspan="2" align="left">
                                        <b>Tier</b>
                                    </td>
                                    <td id="" width="300" height="20" align="center" class="ProfilerDefault">
                                    </td>

                                    <td id="" width="300" height="20" align="center">
                                    </td>

                                    <td id="" width="300" height="20" align="center">
                                    </td>

                                </tr>
                                <tr>
                                    <td height="20" colspan="2" align="left">
                                        <b>Hit Points</b>
                                    </td>
                                    <td id="" width="300" height="20" align="center" class="ProfilerDefault">
                                    </td>

                                    <td id="" width="300" height="20" align="center">
                                    </td>

                                    <td id="" width="300" height="20" align="center">
                                    </td>

                                </tr>





                                <tr>
                                    <td height="20" colspan="2" align="left">
                                        <strong>Rate of Fire (rpm)</strong>
                                    </td>
                                    <td id="" width="300" height="20" align="center" class="ProfilerDefault">
                                    </td>

                                    <td id="" width="300" height="20" align="center">
                                    </td>
                                    <td id="" width="300" height="20" align="center">
                                    </td>

                                </tr>

                                <tr>
                                    <td height="20" colspan="2" align="left">
                                        <strong>Aim Time (seconds)</strong>
                                    </td>
                                    <td id="" height="20" align="center" class="ProfilerDefault">
                                    </td>

                                    <td id="" height="20" align="center">
                                    </td>

                                    <td id="" height="20" align="center">
                                    </td>

                                </tr>
                                <tr>
                                    <td height="20" colspan="2" align="left">
                                        <strong>Accuracy</strong>
                                    </td>
                                    <td id="" height="20" align="center" class="ProfilerDefault">
                                    </td>

                                    <td id="" height="20" align="center">
                                    </td>

                                    <td id="" height="20" align="center">
                                    </td>

                                </tr>

                                <tr>
                                    <td height="20" colspan="2" align="left">
                                        <strong>Penetration</strong>
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                </tr>

                                <tr>
                                    <td height="20" colspan="2" align="left">
                                        <strong>Damage</strong>
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                </tr>

                                <tr>
                                    <td height="20" colspan="2" align="left">
                                        <strong>Damage Per Minute (DPM)</strong>
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" colspan="2" align="left" class="style1">
                                        <strong>Minimum DPM</strong>
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                </tr>

                                <tr>

                                    <td height="20" colspan="2" align="left">
                                        <b>Hull Armor (Front/Side/Rear)</b>
                                    </td>
                                    <td width="300" height="20" align="center">
                                    </td>
                                    <td width="300" height="20" align="center">
                                    </td>
                                    <td width="300" height="20" align="center">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" colspan="2" align="left">
                                        <strong>Turret Armor (Front/Side/Rear)</strong>
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                    <td height="20" align="center">
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- END MAIN SECTION -->

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>